.controls {
  background-color: purple;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  display: flex;
}

.controls p {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

